.Cabeçalho{

    height: 20vh;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    
    

}

.çalho{

    display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            width: 100%;
            text-align: center;
}

#buscar{

    margin-top: 3vh;

}

#logo{

    height: 9vh;

}


.image{

display: inline-block;

margin-right: 2vw;


}

.options{

    display: inline-block;
    margin-top: 5vh;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    


}

#opcao{

    font-size: 3vh;
    text-decoration: none;
    color: black;

}

.options:hover{

    transition-duration: 0.5s;
    background-color:cadetblue;
    



}

.Cabe1{

background-color: black;
height: 10vh;
justify-content: center;
align-items: center;
width: 100%;


}

h3{

margin: 0px;

}


.Home{

    margin-left: 3vw;


}

.Carrying{

    margin-right: 3vw;


}

.Content{


    height: 150vh;
    width: 100%;
    background-color: black;
    text-align: center;

}

.evidence{


    width: 50%;
    height: 100vh;
    display: inline-block;
    margin-top: 8vh;
    background-color: black;

}



.Img1{

    height: 40vh;
    width: 80%;
    display:inline-block;
    


}


.Img1:hover{

    transform: scale(1.1);
    transition-duration: 0.6s;

}

#Kit{

    margin-top: 2vh;
    height: 500px;
    width: 100%;


}

.Product1{

    width: 30%;
    height: 20vh; 
    display: inline-block;

}

.Product1:hover{

    transform: scale(1.1);
    transition-duration: 0.6s;

}

#Crea{

    width: 100%;
    height: 250px;
}

.Product2{

    width: 30%;
    height: 20vh; 
    display: inline-block;

}


.Product2:hover{


    transform: scale(1.1);
    transition-duration: 0.6s;

}

#pre{

    width: 100%;
    height: 250px;
}

.title{


color: white;


}

.Link{

    color: white;
}


.endPage{

    margin-top: 12vh;
    height: 35vh;
    background-color: slategrey;
    width: 100%;
    text-align: left;


}

.contact{
   
    font-size: larger;
    margin-left: 50%;
    width: 10%;
    
    


}


.adresses{

    height: 10vh;
   margin-top: 9vh;
    margin-left: 18vw;
    margin-right: 10vw;
    display: inline-block;
}


#insta{

color:white;
font-size: larger;

}


label{

color: white;
font-size: larger;

}

.cadastro{

    
    height: 25vh;
   width: 10vw;
    margin-bottom: 5vh;
    margin-right: 20vw;
    float: right;
    
    

}

#confirmP{

    height: 3vh;


}

#Email{

    height: 3vh;
    

}

#senha{

    height: 3vh;
    

}

.inputs{

    margin-bottom: 2vh ;
    display: inline-block;
}

.btn{

    display: inline-block;


}

.confirm{

display: inline-block;

}


