.Cabeçalho{

    height: 20vh;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    
    

}

.çalho{

    display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            width: 100%;
            text-align: center;
}

#buscar{

    margin-top: 3vh;

}

#logo{

    height: 9vh;
    

}


.image{

display: inline-block;

margin-right: 2vw;


}

.options{

    display: inline-block;
    margin-top: 5vh;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    


}

#opcao{

    font-size: 3vh;
    text-decoration: none;
    color: black;

}

.options:hover{

    transition-duration: 0.5s;
    background-color:cadetblue;
    



}

.Cabe1{

background-color: black;
height: 10vh;
justify-content: center;
align-items: center;
width: 100%;


}

h3{

margin: 0px;

}


.Home{

    margin-left: 3vw;


}

.Carrying{

    margin-right: 3vw;


}

.content{


height: 165vh;
width: 100%;
background-color: black;
text-align: center;
padding: 1px;

}


.product{


    height: 120vh;
    width: 80%;
    margin-top: 20vh;


}

.img{


    height: 50vh;
    width: 30vw;
    float: left;
    margin-left: 10vw;

}

.title{

    height: 5vh;
    margin-right: 6vw;

}
#Ramon{


    color: white;
    font-size: xx-large;


}

.details{


    height: 20vh;
   
    margin-top: 3vh;


}

#price{

    color: whitesmoke;
    font-size: larger;
    margin-right: 27vw;


}

.detalhess{

    color: darkgray;
    margin-top: 5vh;
    text-align: left;
    margin-left: 44vw;
   
    
    




}


#buy{

    background: linear-gradient(90deg, #4e9af1, #5479e8);
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-transform: uppercase;



}

#carrinho{


    background: linear-gradient(90deg, #4e9af1, #5479e8);
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-transform: uppercase;



}

.button{

    height: 5vh;
    text-align: center;
    display: block;
    margin-left: 21vw;

    margin-top: 15vh;


}

.endPage{

    
    height: 25vh;
    background-color: slategrey;
    width: 100%;
    text-align: left;


}

.contact{

    font-size: larger;
    margin-left: 5vh;


}

.adresses{

    height: 15vh;
    margin-top: 4vh;
    margin-left: 5vh;
}




#insta{

color:white;
font-size: larger;

}


label{

color: white;
font-size: larger;

}
