.Cabeçalho{

    height: 14vh;
    width:100%;
    background-color: yellow;
    text-align: center;

}

.barraPesquisa{

    height: 7vh;
    text-align: center;
    
    
    
    

}

#pesquisar{

    margin-top: 2vh;
    margin-right: 2vw;
}

.barraOffers{

    height: 7vh;
    text-align: center;
    line-height: 6vh;
    border: solid black 0.5px
}

.offer:hover{

    transition-duration: 0.6s;
    background-color: darkorange;

}

p{
    display: inline-flex;
    vertical-align: middle;
    
}

.offer{

 
    margin-right: 4vw;
}


a{


    text-decoration: none;
    color:black
}


.content{

    height: 86vh;
    width: 100%;
    background-color:lightgrey;
    
    align-items: center;
    display:flex;
    justify-content: center;
    
    padding: 1px;

}

.boxCadastro{

    height: 62vh;
    width: 50%;
    border: solid orangered;
    text-align: center;

    
   



}

.Titulo{

    margin-top: 7vh;

}

.Formulário{

    text-align: center;
    width: 60%;
    margin-top: 2vh;
   
    display: inline-block;


}

.input{

    margin-top: 4vh;
    display: block;
    


}

#label3{

    float: left;
    
    
}

#label4{

    float: left;

}

#label2{

    float: left;
}

#label1{

    float: left;

}

#nome{

    margin-right: 2vw;
    
}

#password{

    margin-right: 1.8vw;

}

#REpassword{

    margin-right: 5.5vw;
}


button{

    padding: 10px 20px;      
     
}

.button{

    margin-top: 6vh;
}