.Cabeçalho{

height: 14vh;
width: 100%;
text-align: center;
background-color: darkslategray;

}


.cabe{

    display: inline-block;
    margin-top: 7vh

}

.content{

    text-align: center;


}

.Titulo{

    display: inline-block;
    width: 100%;
    margin-top: 6vh;


}

.Formulario{

   margin-top: 7vh;
    display: inline-block;
    height: 50vh;
    border: solid black;
    padding: 3vh 10vw;


}

.formPart1{

    
    margin-top: 5vh;
}


button{

margin-top: 4vh;

}