
.Cabeçalho{

    height: 14vh;
    width:100%;
    background-color: darkgoldenrod;
    text-align: center;

}

.barraPesquisa{

    height: 7vh;
    text-align: center;
    
    
    
    

}

#pesquisar{

    margin-top: 2vh;
    margin-right: 2vw;
}

.barraOffers{

    height: 7vh;
    text-align: center;
    line-height: 6vh;
    border: solid black 0.5px
}

p{
    display: inline-flex;
    vertical-align: middle;
    
}

.offer{

 
    margin-right: 4vw;
}


.content{

    height: 86vh;
    width: 100%;
    background-color:darkgrey;
    text-align: center;
    padding: 1px;

}


.boxConteudo{

    height: 20vh;
    width: 60%;
    border: solid black;
    display: inline-flex;
    margin-top: 7vh




}

h3{
    margin: 0px 0px;

}
.cont1{

    height: 19.5vh;
    width: 15vw;
   
    

    margin-right: 2vw;
    border-right: solid black 1px;

}

.cont2{

    height: 20vh;
    
 
    margin-right: 2vw;

    width: 15vw;
   


}

.cont3{

    height: 7vh;
    width: 15vw;

    margin-right: 2vw;

}

.cont4{

    height: 7vh;
    width: 15vw;
  
    margin-right: 2vw;

    

}

.subtituloBox{

    display:block;
    margin-top: 1vh;
    float: left;

}

#boxinha{

    white-space: nowrap;
    float: left;
    margin-top: 3vh;
}