.Cabeçalho{

    height: 14vh;
    width:100%;
    background-color: yellow;
    text-align: center;

}

.barraPesquisa{

    height: 7vh;
    text-align: center;
    
    
    
    

}

#pesquisar{

    margin-top: 2vh;
    margin-right: 2vw;
}

.barraOffers{

    height: 7vh;
    text-align: center;
    line-height: 6vh;
    border: solid black 0.5px
}

.offer:hover{

    transition-duration: 0.6s;
    background-color: darkorange;

}

p{
    display: inline-flex;
    vertical-align: middle;
    
}

.offer{

 
    margin-right: 4vw;
}


.content{

    height: 86vh;
    width: 100%;
    background-color:lightgrey;
    text-align: center;
    padding: 1px;

}


.boxConteudo{

    height: 16vh;
    border-radius: 10px;
    background-color: white
}

h3{
    margin: 0px 0px;

}
.cont1{

    height: 16vh;
    width: 15vw;
   
    

    margin-right: 2vw;
    border-right: solid black 1px;

}

.cont2{

    height: 16vh;
    
 
    margin-right: 2vw;

    width: 15vw;
   


}

.cont3{

    height: 16vh;
    width: 15vw;

    margin-right: 2vw;

}

.cont4{

    height: 16vh;
    width: 15vw;
  
    margin-right: 2vw;

    

}

.subtituloBox{

    display:block;
    margin-top: 1vh;
    float: left;
    margin-left: 0.5vh;


}

#boxinha{

    white-space: nowrap;
    float: left;
    margin-top: 3vh;
    margin-left: 0.5vh;
}

.market{

    
    width: 60%;
    display: inline-flex;
    margin-top: 7vh;

}

.Products{

    
    height: 30vh;
}

.Imagens{

   height: 180.9px;
   width: 150px;
   margin-top: 10px;
   margin-bottom: 5px;
   

   

}




.produtos{


display: inline-block;
height: 200px;
width: 300px;
margin-right: 2.5vw;
margin-left: 2.5vw;
overflow: hidden;
background-color: white;

}

.produtos:hover{

transition-duration: 0.9s;
padding-bottom: 30%;
}

a{

    text-decoration: none;
    color: black;
}